<url>
	<loc>{{ _site_url }}/</loc>
  <priority>1.00</priority>
  <changefreq>weekly</changefreq>
</url>
<url>
  <loc>{{ _site_url }}/about</loc>
  <priority>0.50</priority>
  <changefreq>monthly</changefreq>
</url>
<url>
  <loc>{{ _site_url }}/books/</loc>
  <priority>0.90</priority>
  <changefreq>weekly</changefreq>
</url>
<url>
  <loc>{{ _site_url }}/blog/</loc>
  <priority>0.90</priority>
  <changefreq>daily</changefreq>
</url>
{{ entries:listing folder="blog" }}
<url>
	<loc>{{ _site_url }}{{ url }}</loc>
	<lastmod>{{ datestamp format="Y-m-d" }}</lastmod>
	<changefreq>monthly</changefreq>
	<priority>0.9</priority>
</url>
{{ /entries:listing }}
{{ entries:listing folder="books" }}
<url>
	<loc>{{ _site_url }}{{ url }}</loc>
	<changefreq>monthly</changefreq>
	<priority>0.9</priority>
</url>
{{ /entries:listing }}
