# Ignore TextMate project files
*.tmproj

# Ignore Mac OS metadata files
.DS_Store

# Ignore Mac OS X extended file attribute files
._*
._*/

# Ignore Vim .swp files and temp backups
*.swp
*~

# Emacs tags files
TAGS
*.tags

# aspell checker backups
*.bak

# Certain Statamic directories
_cache/*
.htaccess
_config/users/admin.yaml
_config/add-ons/*
_config/environments/*
_add-ons/*
