<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{ _site_name }}</title>
	<meta name="description" content="Pinfinity creates amazing iBooks for medical education, free to download on yor iPad.">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel=“icon” href=/favicon.ico sizes="16x16 32x32 48x48 64x64"
    type=”image/vnd.microsoft.icon”>
  <link rel="stylesheet" href="{{ theme:css }}" />
	{{ theme:partial src='head-javascript' }}
</head>
<body>
	<!--[if lt IE 8]>
	<p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
	<![endif]-->
	{{ layout_content }}

	{{ theme:partial src='foot-javascript' }}

</body>
</html>
