<div id="book" class="page">
	<div class="hero-shot row">
		<div class="section boxa">
			<p class="hero-shot-image">
				<img src="/assets/img/{{ book_ipad_image }}" alt="{{ book_title }} iBook for iPad" />
			</p>
		</div>
		<div class="section boxb">
			<h1 class="book-title header">{{ book_title }}</h1>
			<h2 class="book-author header light">By {{ book_author }}</h1>
			<p class="call-to-action-subtext">
			Download <em class="title">{{ book_title }}</em>, free from the iBookstore.</p>
			<p class="bookstore-button">
			<a class="btn track-link-conversion"
				data-convert-name="book-hero-shot-itunes {{ book_title }}"
				href="{{ itunes_url }}"
				target="itunes_store"></a>
			</p>
		</div>
	</div>

	<div id="content" class="row">
		{{ content }}
	</div>
</div>
