<script type="text/javascript">
(function(e,b){if(!b.__SV){var a,f,i,g;window.mixpanel=b;a=e.createElement("script");a.type="text/javascript";a.async=!0;a.src=("https:"===e.location.protocol?"https:":"http:")+'//cdn.mxpnl.com/libs/mixpanel-2.2.min.js';f=e.getElementsByTagName("script")[0];f.parentNode.insertBefore(a,f);b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==
typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.track_charge people.clear_charges people.delete_user".split(" ");for(g=0;g<i.length;g++)f(c,i[g]);
b._i.push([a,e,d])};b.__SV=1.2}})(document,window.mixpanel||[]);

var APP = (function () {
	var APP = {
		inDevmode: /^([\d]+|localhost)/.test(window.location.hostname),
		start: new Date().getTime(),
		log: function () {
			if (window.console && console.log) console.log.apply(console, arguments);
		}
	}

	function extendMixpanelProperties(properties) {
		properties = properties || {};
		properties.pathname = window.location.pathname;
		properties.title = document.title;
		properties.time_onsite = Math.round((new Date().getTime() - APP.start) / 1000);
		return properties;
	}

	if (APP.inDevmode) {
		APP.log('inDevmode == yes');
		APP.track = function (eventName, properties) {
			APP.log('Track', eventName, extendMixpanelProperties(properties));
		}
		APP.trackLinks = function (selector, eventName, callback) {
			$(selector).on('click', function () {
				var properties = callback(this);
				properties.target_url = $(this).attr('href')
				APP.track(eventName, properties);
			});
		}
	} else {
		mixpanel.init("bc8c2b9a06449d481e4397899458b738");
		mixpanel.register_once({init_pathname: window.location.pathname});

		APP.track = function (eventName, properties) {
			mixpanel.track(eventName, extendMixpanelProperties(properties));
		};

		APP.trackLinks = function (selector, eventName, callback) {
			mixpanel.track_links(selector, eventName, function (el) {
				return extendMixpanelProperties(callback(el));
			});
		};
	}

	APP.track('pageview');
	window.onload = function() {
		APP.track('window_load', {loadtime: new Date().getTime() - APP.start});
	};

	return APP;
}());
</script>
