<div class="row connect">
	<div class="span">
		<div class="cta">
			<h2 class="header light">Stay on top of your game.</h2>
			<p class="tagline">
			We do our best to find and share new, and insightful information about
			technology, learning, and medicine. Don't miss a beat.
			</p>
		</div>
		<div class="media-box boxa">
			<a class="box social-link track-link-conversion"
				data-convert-name="footer LinkedIn"
				href="http://www.linkedin.com/company/pinfinity-consulting-llc-">
			<h4 class="header2">Join Us on LinkedIn</h4>
			<p class="content2">
			LinkedIn is a great way to connect with influential people in medicine and education.
			</p>
			<p class="link"><img src="{{ theme:img src='linkedin.png'}}" /></p>
			</a>
		</div>
		<div class="media-box boxb">
			<a class="box social-link track-link-conversion"
				data-convert-name="footer Twitter"
				href="https://twitter.com/PinfinityBooks">
			<h4 class="header2">Stay Up to Date on Twitter</h4>
			<p class="content2">
			Hear about everything happening now in technology, medicine, and education with us on Twitter.
			</p>
			<p class="link"><img src="{{ theme:img src='twitter.png'}}" /></p>
			</a>
		</div>
		<div class="media-box boxc">
			<a class="box social-link track-link-conversion"
				data-convert-name="footer Facebook"
				href="https://www.facebook.com/pages/Pinfinity-Consulting-LLC/187886501334932">
			<h4 class="header2">Follow Us on Facebook</h4>
			<p class="content2">
			We post frequent updates and articles about health, and the changing landscape of education and learning.
			</p>
			<p class="link"><img src="{{ theme:img src='facebook.png'}}" /></p>
			</a>
		</div>
		<div class="media-box boxd">
			<a class="box social-link track-link-conversion"
				data-convert-name="footer Google Plus"
				href="https://plus.google.com/113377101690455325090/about">
			<h4 class="header2">Join the Conversation on Google+</h4>
			<p class="content2">
				There is a lot going on in multi-touch book authorship, and Google+ is a great way to keep up with it all.
			</p>
			<p class="link"><img src="{{ theme:img src='gplus.png'}}" /></p>
			</a>
		</div>
		<div class="contact-us">
			<p>And, please get in touch: <a href="mailto:connect@pinfinity.co">connect@pinfinity.co</a></p>
		</div>
	</div>
</div><!-- .row.connect -->
